<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.petition.dao.sys.SysListMapper">
    <resultMap id="BaseResultMap" type="com.ssy.petition.entity.sys.SysList">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="list_type" jdbcType="VARCHAR" property="listType"/>
        <result column="list_name" jdbcType="VARCHAR" property="listName"/>
        <result column="list_key" jdbcType="VARCHAR" property="listKey"/>
        <result column="list_value" jdbcType="VARCHAR" property="listValue"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="insert_on" jdbcType="TIMESTAMP" property="insertOn"/>
        <result column="insert_by" jdbcType="BIGINT" property="insertBy"/>
        <result column="update_on" jdbcType="TIMESTAMP" property="updateOn"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="delete_on" jdbcType="TIMESTAMP" property="deleteOn"/>
        <result column="delete_by" jdbcType="BIGINT" property="deleteBy"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>

    <resultMap id="SysListListResultMap" type="com.ssy.petition.dto.sys.result.SysListListResult">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="list_type" jdbcType="VARCHAR" property="listType"/>
        <result column="list_name" jdbcType="VARCHAR" property="listName"/>
        <result column="list_key" jdbcType="VARCHAR" property="listKey"/>
        <result column="list_value" jdbcType="VARCHAR" property="listValue"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="insert_on" jdbcType="TIMESTAMP" property="insertOn"/>
        <result column="insert_by" jdbcType="BIGINT" property="insertBy"/>
        <result column="insert_by_name" jdbcType="VARCHAR" property="insertByName"/>
        <result column="update_on" jdbcType="TIMESTAMP" property="updateOn"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="delete_on" jdbcType="TIMESTAMP" property="deleteOn"/>
        <result column="delete_by" jdbcType="BIGINT" property="deleteBy"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="orCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, type, list_name, list_key, list_value, sort, insert_on, insert_by, update_on, update_by, delete_flag,
    delete_on, delete_by, remarks
    </sql>
    <select id="selectByExample" parameterType="com.ssy.petition.entity.base.example.BaseExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sys_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_list
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sys_list
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ssy.petition.entity.sys.SysList">
        insert into sys_list (id, type, list_name, list_key, list_value,
                              sort, insert_on, insert_by,
                              update_on, update_by, delete_flag,
                              delete_on, delete_by, remarks)
        values (#{id,jdbcType=BIGINT}, #{listType,jdbcType=VARCHAR}, #{listName,jdbcType=VARCHAR}, #{listKey,jdbcType=VARCHAR},
                #{listValue,jdbcType=VARCHAR},
                #{sort,jdbcType=INTEGER}, #{insertOn,jdbcType=TIMESTAMP}, #{insertBy,jdbcType=BIGINT},
                #{updateOn,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{deleteFlag,jdbcType=BIT},
                #{deleteOn,jdbcType=TIMESTAMP}, #{deleteBy,jdbcType=BIGINT}, #{remarks,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ssy.petition.entity.sys.SysList">
        insert into sys_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="listType != null">
                list_type,
            </if>
            <if test="listName != null">
                list_name,
            </if>
            <if test="listKey != null">
                list_key,
            </if>
            <if test="listValue != null">
                list_value,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="insertOn != null">
                insert_on,
            </if>
            <if test="insertBy != null">
                insert_by,
            </if>
            <if test="updateOn != null">
                update_on,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="deleteOn != null">
                delete_on,
            </if>
            <if test="deleteBy != null">
                delete_by,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="listType != null">
                #{listType,jdbcType=VARCHAR},
            </if>
            <if test="listName != null">
                #{listName,jdbcType=VARCHAR},
            </if>
            <if test="listKey != null">
                #{listKey,jdbcType=VARCHAR},
            </if>
            <if test="listValue != null">
                #{listValue,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="insertOn != null">
                #{insertOn,jdbcType=TIMESTAMP},
            </if>
            <if test="insertBy != null">
                #{insertBy,jdbcType=BIGINT},
            </if>
            <if test="updateOn != null">
                #{updateOn,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=BIT},
            </if>
            <if test="deleteOn != null">
                #{deleteOn,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteBy != null">
                #{deleteBy,jdbcType=BIGINT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssy.petition.entity.sys.SysList">
        update sys_list
        <set>
            <if test="listType != null">
                list_type = #{listType,jdbcType=VARCHAR},
            </if>
            <if test="listName != null">
                list_name = #{listName,jdbcType=VARCHAR},
            </if>
            <if test="listKey != null">
                list_key = #{listKey,jdbcType=VARCHAR},
            </if>
            <if test="listValue != null">
                list_value= #{listValue,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="insertOn != null">
                insert_on = #{insertOn,jdbcType=TIMESTAMP},
            </if>
            <if test="insertBy != null">
                insert_by = #{insertBy,jdbcType=BIGINT},
            </if>
            <if test="updateOn != null">
                update_on = #{updateOn,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=BIT},
            </if>
            <if test="deleteOn != null">
                delete_on = #{deleteOn,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteBy != null">
                delete_by = #{deleteBy,jdbcType=BIGINT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssy.petition.entity.sys.SysList">
        update sys_list
        set list_type        = #{listType,jdbcType=VARCHAR},
            list_name        = #{listName,jdbcType=VARCHAR},
            list_key        = #{listKey,jdbcType=VARCHAR},
            list_value = #{listValue,jdbcType=VARCHAR},
            sort        = #{sort,jdbcType=INTEGER},
            insert_on   = #{insertOn,jdbcType=TIMESTAMP},
            insert_by   = #{insertBy,jdbcType=BIGINT},
            update_on   = #{updateOn,jdbcType=TIMESTAMP},
            update_by   = #{updateBy,jdbcType=BIGINT},
            delete_flag = #{deleteFlag,jdbcType=BIT},
            delete_on   = #{deleteOn,jdbcType=TIMESTAMP},
            delete_by   = #{deleteBy,jdbcType=BIGINT},
            remarks     = #{remarks,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getList" resultMap="SysListListResultMap">
        SELECT
        id, list_type, list_name, list_key, list_value, sort, insert_on, insert_by,
        FT_getUsernameById(insert_by) as insert_by_name,update_on, update_by, delete_flag,
        delete_on, delete_by, remarks
        FROM sys_list
        WHERE
        delete_flag=0
        <if test="queryParam.listType!=null">
            AND list_type = #{queryParam.listType}
        </if>
        <if test="queryParam.listName!=null">
            AND list_name LIKE concat("%", #{queryParam.listName}, "%")
        </if>
        <if test="queryParam.listKey!=null">
            AND list_key LIKE concat("%", #{queryParam.listKey}, "%")
        </if>
        <if test="queryParam.listValue!=null">
            AND list_value LIKE concat("%", #{queryParam.listValue}, "%")
        </if>
    </select>

</mapper>